@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* custom elements */
    --nav-primary: rgb(232, 230, 227);
    --footer-primary: rgb(168, 161, 149);
    --footer-dark: #0f0e0e;

    --link-primary: #51bcda;
    --link-secondary: #2ba9cd;

    --fancy-black: #555;
    --fancy-primary: #3498db;
    --fancy-white: #f1f1f1;

    --title-dark: #333;
    --description: #9a9a9a;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  /* display: flex; */
  /* flex-flow: column nowrap; */
  min-height: 100vh;
  /* Disables pull-to-refresh and overscroll glow effect. Still keeps swipe navigations.
https://developers.google.com/web/updates/2017/11/overscroll-behavior */
  /* overscroll-behavior-y: none; */
  /* Disable scroll anchoring
https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-anchor/Guide_to_scroll_anchoring */
  /* overflow-anchor: none; */
  color: #66615b;
  background-color: #fff;
}

.container-image {
  background-image: url("../public/img/forest.jpg");
  height: 100vh;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(9, 13, 14);
}


a {
  text-decoration: none;
  color: var(--link-primary);
}

a:hover {
  color: var(--link-secondary);
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.overlay-filter::after {
  background-color: #00000080;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 10px;
}

.images-container img {
  width: 220px;
  height: 220px;
}

.images-container img:hover {
  filter: brightness(110%);
  cursor: pointer;
}